In [2]:
import pandas as pd

In [12]:
#1
url = 'https://raw.githubusercontent.com/gp-gv-nc/Tarea1/main/tarea.csv'
df1=pd.read_csv(url)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [13]:

#2 leer el archivo csv “tarea” y mostrar las primeras 3 filas (,nrows=3).

df1.head(3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

# New Section

In [14]:
#3 Imprime el contenido de una columna como serie (tan sólo imprimí la columna entre corchetes!)
df1[['cut']]

             cut
0          Ideal
1        Premium
2           Good
3        Premium
4           Good
...          ...
53935      Ideal
53936       Good
53937  Very Good
53938    Premium
53939      Ideal

[53940 rows x 1 columns]

In [15]:
#4 crear una nueva serie 'calidad-color' (utilizá corchetes para definir el nombre de la serie)
df1['calidad-color']=df['clarity']+df['color']
df1

,carat,cut,color,clarity,depth,table,price,x,y,z,calidad-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,SI2E
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,SI1E
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,VS1E
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,VS2I
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,SI2J
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,SI1D
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,SI1D
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,SI1D
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,SI2H
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,SI2D

In [16]:
#5 encontrar el número de filas y columnas (.shape)) y el tipo de datos de cada columna (.dtypes).
print(df1.shape)
print(df1.dtypes)

(53940, 11)
carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
calidad-color     object
dtype: object

In [17]:
#6 resumir sólo las columnas 'objeto' (.describe(include=['object'])).
df1.describe(include=['object'])

          cut  color clarity calidad-color
count   53940  53940   53940         53940
unique      5      7       8            56
top     Ideal      G     SI1          VS2E
freq    21551  11292   13065          2470

In [19]:
#7 renombrar dos de las columnas (.rename(columns={…). 
#Imprimir antes y después incluyendo una línea que describa cada una (ej print("Original"))
print('Original')
df1

Original

,carat,cut,color,clarity,depth,table,price,x,y,z,calidad-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,SI2E
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,SI1E
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,VS1E
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,VS2I
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,SI2J
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,SI1D
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,SI1D
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,SI1D
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,SI2H
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,SI2D

In [20]:
#7
print('Rename')
df1=df1.rename(columns={'cut':'Cut level', 'price':'Precio'})
df1

Rename

,carat,Cut level,color,clarity,depth,table,Precio,x,y,z,calidad-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,SI2E
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,SI1E
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,VS1E
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,VS2I
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,SI2J
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,SI1D
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,SI1D
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,SI1D
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,SI2H
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,SI2D

In [21]:
#8 eliminar la segunda y tercer columna (.drop())
df1.drop(columns=['Cut level','color'])

       carat clarity  depth  table  Precio     x     y     z calidad-color
0       0.23     SI2   61.5   55.0     326  3.95  3.98  2.43          SI2E
1       0.21     SI1   59.8   61.0     326  3.89  3.84  2.31          SI1E
2       0.23     VS1   56.9   65.0     327  4.05  4.07  2.31          VS1E
3       0.29     VS2   62.4   58.0     334  4.20  4.23  2.63          VS2I
4       0.31     SI2   63.3   58.0     335  4.34  4.35  2.75          SI2J
...      ...     ...    ...    ...     ...   ...   ...   ...           ...
53935   0.72     SI1   60.8   57.0    2757  5.75  5.76  3.50          SI1D
53936   0.72     SI1   63.1   55.0    2757  5.69  5.75  3.61          SI1D
53937   0.70     SI1   62.8   60.0    2757  5.66  5.68  3.56          SI1D
53938   0.86     SI2   61.0   58.0    2757  6.15  6.12  3.74          SI2H
53939   0.75     SI2   62.2   55.0    2757  5.83  5.87  3.64          SI2D

[53940 rows x 9 columns]

In [ ]:
#9 eliminar múltiples filas a la vez (usar axis=0 que se refiere a las filas).

In [22]:
#10 ordenar la columna `cut’ en orden ascendente (tarea.cut.sort_values). 
#¿Qué tipo de objeto es `cut’ usándolo así? 
df1.cut.sort_values()

AttributeError: ignored

In [23]:
#Es String 
type('cut')

str

In [ ]:
#11 ordenar toda la base por 'carat' en orden descendente.
df1.sort_values('carat', ascending=False)

In [ ]:
#12 filtrar aquellas filas que x>5, y>5 y z>5.
df1[(df1['x']>5) & (df['y']>5) & (df1['z']>5)]

In [ ]:
#13 filtrar las filas para que sólo muestren `carat’ mayor a 0,4 (usar for x in tarea.carat:…

In [ ]:
#14 filtrar filas que son Premium o Ideal (tarea.cut.sin() o usar |).

In [ ]:
#15calcular summary statistics de  `carat’ (.describe). 
df1['carat'].describe()

In [ ]:
#16calcular la media de cada columna numérica (.mean())
print(df.mean())

In [ ]:
#17calcular la media del precio de cada tipo de `cut’ (tarea.groupby().price.mean())
df.groupby(['cut']).mean()

In [ ]:
#18 calcular la cantidad, el mínimo y el máximo precio para cada `cut’ ((tarea.groupby().price.agg([]))).

df.groupby(['cut']).price.agg(['min', 'max','sum'])

In [ ]:
#19 mostrar los valores que puede tomar `cut’ (.unique())
df['cut'].unique()

In [ ]:
#20 contar cuántas veces aparece cada valor de `cut’ ((tarea.cut.value_counts()))
df['cut'].value_counts()

In [ ]:
#21 mostrar los porcentajes de cada valor de `cut’.

In [ ]:
#22 calcular una tabla de doble entrada con `cut’ y `color’ (pd.crosstab)

In [ ]:
#23 crear un histograma de ‘cut’ (.plot(kind=’hist’)).

In [ ]:
#24 crear un gráfico de barras de 'cut'

In [ ]:
#25 contar el número de missing valies en cada columna (.isnull().sum()).
df1.isnull().sum()

In [ ]:
#26 comprobar el número de filas y columnas y eliminarlas si falta algún valor en una fila (.dropna(how='any')).
df1.dropna(how='any')

In [ ]:
#27 eliminar una fila si faltan todos los valores ((.dropna(how='all'))
df1.dropna(how='all')

In [ ]:
#28 mostrar las filas 0, 2, 5 y todas las columnas (.loc[]).
df1.loc[[0,2,5]]

In [ ]:
#29 mostrar las filas 0 a 2 (inclusive) y las columnas 'color' y 'precio' 
df1.loc[0:2, ['color','price']]

In [ ]:
#30 mostrar las filas en las que la 'cut' es 'Premium' más la columna 'color'
df1[(df1['cut'] == 'Premium') & (df1['color'])]

In [ ]:
#31 obtener 5 filas de muestra al azar (.sample()). 
df1.sample(5)

In [ ]:
#32 obtener una muestra del 75% de las filas sin reemplazarlas (.sample(frac=0.75, random_state=XX))
df1.sample(frac=0.75)

In [ ]:
#33 contar las filas duplicadas.